:root {
    --primary_white_colour: #FFFFFF;
    --primary-title-colour: #212121;
    --primary-text-colour: #757575;
    --accent-colour: #2196F3;
    --hero-background: #2F303A;
    --hero-title-colour: #FFFFFF;
    --hero-btn-background: #2196F3;
    --hero-btn-hover-background: #188CE8;
    --ourteams-section-background: #F5F4FA;
    --btnfilter-background: #F5F4FA;
    --btnfilter-hover-background: #FFFFFF;
    --footer-background: #2F303A;
    --footer-contacts-link: rgba(255, 255, 255, 0.6);
}

/*  -------------BODY-------------  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background-color: var(--primary_white_colour);
    color: var(--primary-text-colour);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    }

.link {
    text-decoration: none;
    color: var(--primary-title-colour);
}

.list-item {
    list-style: none;
}

.logo {
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.title {
    color: var(--primary-title-colour);
}

.text {
    color: var(--primary-text-colour);
}

.section {
    padding: 94px 0;
}

/*  -------------HEADER-------------  */
header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container > .logo {
    display: inline-block;  
    margin-right: 93px;
}

.logo-acÑent {
    color: var(--accent-colour);
}
.nav-list {
    display: flex;
}

.nav-list > .list-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  

    display: inline-block;
    padding: 32px 0;
}

.contact-link-list {
    margin-left: auto;
    display: flex;
}
.contact-link-list > .list-item:not(:first-child) {
    margin-left: 50px;
}
.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-colour);

    display: inline-block;
    padding: 20px 0;
}

.nav-link:focus,
.nav-link:hover,
.contact-link:focus,
.contact-link:hover {
    color: var(--accent-colour);
}

/*  -------------HERO-------------  */
.hero {
    background-color: var(--hero-background);
    text-align: center;
}

.hero-container {
    padding: 200px;
}

.hero-title {
    color: var(--hero-title-colour);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--hero-title-colour);
    background-color: var(--hero-btn-background);

    cursor: pointer;

    display: inline-block;
    border: var(--hero-btn-background);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
}

.hero-btn:focus,
.hero-btn:hover {
    background-color: var(--hero-btn-hover-background);
}

/*  -------------BENEFITS-------------  */

.benefits-list {
    display: flex;
}

.benefits-list > .list-item {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.benefits-list > .list-item:nth-child(4n) {
    margin-right: 0;
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subtitle-benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
}

/*  -------------SERVICES------------- */
.services {
    padding-top: 0;
} 
.service-list {
    display: flex;
}
.service-list > .list-item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
}
.service-list > .list-item:nth-child(3n) {
    margin-right: 0;
}
.service-list > .list-item img {
    display: block;
}
.service-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
    margin-bottom: 50px;
}

/*  -------------OURTEAMS------------- */

.ourteams {
    background-color: var(--ourteams-section-background);
    padding: 94px 0;
}

.team-list img {
    display: block;
    margin-bottom: 30px;
}

.teams-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}
.ourteam-list {
    display: flex;
}
.team-list {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;

    background-color: var(--primary_white_colour);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list:nth-child(4n) {
    margin-right: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 10px;
}

.sub-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 30px;
}

.team-link:focus {
    color: var(--accent-colour);
}

/*  -------------PORTFOLIO------------- */

.btnfilters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
 
.btnfilters-list > .list-item:not(:last-child) {
    margin-right: 8px;
}

.btn-filter {
    background-color: var(--btnfilter-background);
    color: var(--primary-title-colour);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    cursor: pointer;

    padding: 6px 25px;

    display: inline-block;
    border: var(--btnfilter-background);
    border-radius: 4px;
    min-width: 73px;    
}

.btn-filter:focus,
.btn-filter:hover {
    background-color: var(--accent-colour);
    color: var(--btnfilter-hover-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-items > .list-item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
}

.card-bottom {
    padding: 20px 0 20px 24px;

    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-items > .list-item {
    margin-bottom: 30px;
}
.portfolio-items > .list-item:nth-child(3n) {
    margin-right: 0;
}
.portfolio-items>.list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.proj-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    margin-bottom: 4px;
}

.proj-text {
    font-size: 16px;
    line-height: 1.88;
}

.portfol-item > img {
    display: block;
}

/*  -------------FOOTER------------- */

.footer {
    background-color: var(--footer-background);

    padding: 60px 0;
}

.logo-footer {
    color: var(--primary_white_colour);
    display: inline-block;
    margin-bottom: 20px;
}

.adress-list > .list-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    display: inline-block;
    
    color: var(--primary_white_colour)
}

.footer-contact-link {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    display: inline-block;
        
    color: var(--footer-contacts-link)
}

.address-link:focus,
.address-link:hover,
.footer-contact-link:focus,
.footer-contact-link:hover {
    color: var(--accent-colour);
}